doctype html 
html(lang="zh-cn")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        block @head
            link(rel="stylesheet",href="/css/header.css")
            link(rel="stylesheet",href="/css/structure.css")
            script(src="/es/main.mjs",type="module")
        block @title
            title QDB WIKI
    body.bdt-t-bus
        header
            block @header
                a(href="/").bdt-h-homepage QDB WIKI
        main
            aside.bdt-s-left
                block @aside
            article.bdt-s-article
                block @article
        footer
            block @footer
                p 2024-2025 QDBw, 0xarch ALL RIGHTS RESERVED
