extends ./global.pug

append @head
    link(rel="stylesheet",href="/css/index.css")

block @title
    title QDB WIKI

block @aside
    h2 QDB - 青岛公交字典
    p
        b 感谢青岛公交汇编发布的调动数据！
    p 本站仍在开发中, 目前托管于 Github Pages。
    p.s-build-time #{local.tool.build_time}

block @article
    h1 欢迎访问青岛公交字典！
    section.s-bus
        h2 查询车辆
        input#BUS_SEARCH_INPUT(placeholder="自编号")
        button#BUS_SEARCH_ID 查询
        #BUS_SEARCH_RESULTS.s-index-searchresults
        #BUS_SEARCH_TIP.s-index-searchtips
    section.s-line
        h2 查询线路
        input#LINE_SEARCH_INPUT(placeholder="线路名")
        button#LINE_SEARCH_ID 查询
        #LINE_SEARCH_RESULTS.s-index-searchresults
        #LINE_SEARCH_TIP.s-index-searchtips
    section.s-stop
        h2 查询站点
        input#STOP_SEARCH_INPUT(placeholder="站点名")
        button#STOP_SEARCH_ID 查询
        #STOP_SEARCH_RESULTS.s-index-searchresults
        #STOP_SEARCH_TIP.s-index-searchtips
    section.s-model
        h2 查询型号
        input#MODEL_SEARCH_INPUT(placeholder="车型")
        button#MODEL_SEARCH_ID 查询
        #MODEL_SEARCH_RESULTS.s-index-searchresults
        #MODEL_SEARCH_TIP.s-index-searchtips


