.bdt-s-bus-button {
    border-radius: 1rem;
    border: .05rem solid var(--bdt-c-accent);
    background-color: var(--bdt-c-header);
    text-align: start;
    display: block;
    text-decoration: none;
    padding: .5rem;

    &>b {
        font-size: 1.15rem;
        font-weight: 500;
    }
    &>small {
        display: block;
        font-size: .75rem;
        font-weight: 400;
        color: var(--bdt-c-body-text);
    }

    &.normal {
        border: .05rem solid #44ff44;
    }

    &.retired {
        border: .05rem solid #ff4444;
    }

    &.pending {
        border: .05rem solid #ff8800;
    }
}