.bdt-h-name {
    font-weight: 330;
}

.s-route-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    padding: 0;
}

.s-route-li {
    width: 15rem;
}

.s-route-detail-ul {
    list-style: none;
    padding: 0;
}

.s-route-detail-li {
    display: flex;
    border-bottom: .05rem solid var(--bdt-c-sp);

    &:first-child {
        border-top: .05rem solid var(--bdt-c-sp);
    }

    &>h3 {
        margin: 0;
        border-right: .05rem solid var(--bdt-c-sp);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.2rem;
        padding: 1rem 0;
        writing-mode: vertical-rl;
        font-family: 'MiSans Thin', 'Noto Sans CJK SC', 'Segoe UI';
    }
}

.s-route-detail-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;

    &:empty::before {
        content: '无设站';
    }
}

.s-rd-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 3rem;
    margin: 0;
    flex: 1;

    &:last-child {
        border-bottom: none;
    }
}

.s-rd-current-name {
    font-size: .85rem;
    opacity: .75;

    &::before {
        content: '(';
    }

    &::after {
        content: ')';
    }
}

.s-bc-d-ul,
.sbhsoo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    text-align: center;
    gap: .5rem;
    list-style: none;

    & a {
        border-radius: 1rem;
        padding: .5rem;
        background-color: var(--bdt-c-header);
        text-decoration: none;
        border: .05rem solid var(--bdt-c-accent);
        display: block;

        &:hover {
            box-shadow: 0px 0px 1rem var(--bdt-c-header);
        }
    }
}

.sbhsoo-buses {
    text-align: start;
}

.sbhsoo-buses a {
    padding: .15rem;
    display: inline-block;
}

.sbhsoo-object {
    & a.sbhsoo-linename {
        display: block;
        border: none;
        background-color: var(--bdt-c-accent);
        color: white;
    }
}

summary a {
    text-decoration: none;
}

.s-buses details summary a,
.bus-move-section details summary .move-line {
    margin-right: .25rem;
}

.bus-move-section details summary a {
    &.linemark-offline {
        color: red;
    }

    &.linemark-newbus {
        color: rgb(149, 237, 16);
    }

    &.linemark-standby {
        color: rgb(255, 191, 0);
    }
}

.bus-move-section details.move-out summary::marker {
    content: '-';
    font-family: 'monospace';
    color: red;
    font-weight: 1000;
}

.bus-move-section details.move-in summary::marker {
    content: '+';
    font-family: 'monospace';
    color: rgb(149, 237, 16);
    font-weight: 1000;
}

.sbhs-ul h3.hidden {
    display: none;
}