.s-buses-ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    text-align: center;
    gap: .5rem;

    & .s-buses-li{
        &:hover {
            box-shadow: 0px 0px 1rem var(--bdt-c-header);
        }
    }
}

.s-line-ul li {
    display: inline-block;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    border: .05rem solid var(--bdt-c-accent);
}

.s-line-ul a {
    text-decoration: none;
}