:root {
    --bdt-c-body: #222;
    --bdt-c-body-text: #fff;
    --bdt-c-sp: #888;
    --bdt-c-header: #000a;
}

@media(prefers-color-scheme:light){
    :root {
        --bdt-c-body: #f8f8f8;
        --bdt-c-body-text: #222;
        --bdt-c-sp: #888;
        --bdt-c-header: #fff;
    }
}

body {
    margin: 0;
    background-color: var(--bdt-c-body);
    color: var(--bdt-c-body-text);
    font-family: 'MiSans';
}

body>header {
    background-color: var(--bdt-c-header);
    height: 4rem;
    width: 100vw;
    border-bottom: .05rem solid var(--bdt-c-sp);
    display: flex;
    align-items: center;
    padding: 0 1rem;

    & a.bdt-h-homepage {
        font-size: 2rem;
        font-weight: bold;
    }
}

body>main {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
}

.bdt-s-left {
    width: 33%;
    border-right: .05rem solid var(--bdt-c-sp);
    padding: 1rem;
    box-sizing: border-box;
}

.bdt-s-article {
    width: 67%;
    padding: 1rem;
    box-sizing: border-box;
}

body>footer {
    width: 100vw;
    border-top: .05rem solid var(--bdt-c-sp);
}

a {
    color: #3273d2;
    font-weight: bold;
}

@media(max-aspect-ratio: 1 / 1) {
    body>main {
        flex-direction: column;
    }
    .bdt-s-left, .bdt-s-article {
        width: 100%;
    }

    .bdt-s-left {
        border-right: none;
        border-bottom: .05rem solid var(--bdt-c-sp);
    }
}

@media(min-aspect-ratio: 1 / 1) {
    .bdt-s-left, .bdt-s-article {
        min-height: 80vh;
    }
}