include /Mixins/getURI.pug
include /Mixins/requestCSS.pug

mixin StationList(route,GlobalId)
    +requireCSS('station_list')
    .stationList.--flex-root
        ul.list-root
            - let globalIndex = 1
            each reflectObj in route.Reflect
                - let [roadName, stations] = Object.entries(reflectObj)[0]
                li(data-road=roadName)
                    ul
                        each station in stations
                            li
                                - let globalName = station.split(" ")[0]
                                - let Station = Data.Stations.get(globalName)
                                - if(Station === undefined) throw new Error(`[Template/Components/StationList] Trying get ${station}, but returns with undefined!`)
                                - let ref = Station.Lines.get(GlobalId).Routes.get(route.Name)
                                a.h-link(data-index=globalIndex,href=getStationURI(Station.Name))!= makeComfortWrap(ref.DisplayName)
                                    //- if ref.DisplayName.length < 6
                                    //-     = ref.DisplayName
                                    //- else
                                    //-     - let c = Math.ceil(ref.DisplayName.length/2)
                                    //-     = ref.DisplayName.slice(0,c)
                                    //-     br
                                    //-     = ref.DisplayName.slice(c)
                                - globalIndex++